<div id="diy">
	<div id="layout">
		<div id="default-layout" class="default-diy">
			<div id="layout-container">
				<div class="header px-6 justify-end">
					<a href="/author" class="absolute left-0">
						<img id="logo" alt="LOGO" src="<%= theme.logo %>" class="w-12 z-50 transition cursor-pointer ml-6"
						/>
					</a>
					<div id="pc" class="relative">
						<ul class="menu hide none-active-articles">
							<%- partial( '_partial/zujian/caidan') %>
						</ul>
					</div>
					<%- partial( '_partial/zujian/pecaidan') %>
				</div>
				<div class="scroll-area">
					<div>
						<div class="markdown-container">
							<div class="markdown-wrapper">
								<h1 class="mt-3 mb-4 text-4xl text-gray-800 font-bold">
									<%=page.title %>
								</h1>
								<div id="top" class="mb-4 flex items-center cursor-default" style="animation: auto">
									<span title="文章作者" class="mr-4">
										本文作者・
										<a href="/author">
											<%=config.author %>
										</a>
									</span>
									文章分类・
									<% if (page.categories && page.categories.length){ %>
										<%- list_categories(page.categories, { show_count: false, class:
										'mr-4 primary opacity-75 cursor-pointer', style: 'none', separator: '' }) %>
											<% } %>
												<div title="发布时间" class="text-gray-500">
													<%- date(page.date, "YYYY年MM月DD日") %>
												</div>
								</div>
								<p class="mb-6 text-gray-600">
									<%- page.duanyu %>
								</p>
								<article>
									<div class="frontmatter-markdown sm:w-full" id="markdown-content">
										<%- page.content %>
									</div>
								</article>
								<div class="nav">
									<nav role="navigation" class="table-of-contents">
										<%- toc(page.content, {list_number: false}) %>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- partial( '_partial/zujian/lamuleimu') %>
			</div>
		</div>
	</div>
</div>